manifest {
    name = 'aabida1/rnaseq-nextflow-pipeline'
    description = 'RNA-seq workflow and GEO GSE196006 paired tumour-normal analysis'
    version = '1.0.0'
    nextflowVersion = '>=23.10.0'
}
params { input = null; fasta = null; gtf = null; outdir = 'results'; control_condition = 'normal' }
process { container = 'rnaseq-pipeline:1.0.0'; errorStrategy = 'terminate' }
profiles {
    docker { docker.enabled = true }
    ci { docker.enabled = false; process.container = null }
}
